	<div class ="container">
		<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="admin">{{__ "Panel admina"}}</a></li>
					  <li role="presentation"><a href="/">{{__ "Start"}}</a></li>
					  <li role="presentation"><a href="dodajLot">{{__ "Dodaj lot"}}</a></li>
					  <li role="presentation"><a href="#">{{__ "Wykresy"}}</a></li>
					</ul>
				</div>
			</div>
	</div>