<div class ="container" ng-controller ="wyszukajController">
<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
					<li role="presentation"><a href="admin">{{__ "Panel admina"}}</a></li>
					  <li role="presentation"><a href="/">{{__ "Start"}}</a></li>
					  <li role="presentation"class="active"><a href="dodajLot">{{__ "Dodaj lot"}}</a></li>
					  <li role="presentation"><a href="#">{{__ "Wykresy"}}</a></li>
					</ul>
				</div>
		<div class="col-xs-10">
			<div>
				<form class="form-horizontal formularz">
				     <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Id"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.id" placeholder="id">
                            </div>
                    </div>
				     <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Nazwa samolotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.nazwaSamolotu" placeholder="{{__ "Nazwa samolotu"}}">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Miejsce wylotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.miejsceWylotu" placeholder="{{__ "Miejsce wylotu"}}">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Miejsce przylotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.miejscePrzylotu" placeholder="{{__ "Miejsce przylotu"}}">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Data wylotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.dataWylotu" placeholder="{{__ "Data wylotu"}}             format: dd/mm/yyyy {{__ "np."}} 23/10/1990">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Godzina wylotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.godzinaWylotu" placeholder="{{__ "Godzina wylotu"}}        format hh:mm {{__ "np."}} 14:25">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Godzina przylotu"}}</label>
                        	<div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="dane.godzinaPrzylotu" placeholder="{{__ "Godzina przylotu"}}      format hh:mm {{__ "np."}} 21:38">
                            </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-2">{{__ "Cena"}}</label>
                        	<div class="col-xs-6">
                                <input type="number" class="form-control" ng-model="dane.cena" placeholder="{{__ "Cena"}}">
                            </div>
                    </div>		            <div class="col-xs-offset-2 col-xs-6">
		                <button type="submit" class="btn btn-primary przycisk" ng-click="wyslijDane()">{{__ "Dodaj"}}</button>
		            </div>
                    

                </form>    
			</div>

		</div>
	</div>
</div>





