
{{#if user}}
	{{__ "Zalogowany"}} <strong>{{user.username}}<br></strong>
{{/if}}
<div class="container">
	<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="/">{{__ "Start"}}</a></li>
				  <li role="presentation"><a href="wyszukaj">{{__ "Wyszukaj lot"}}</a></li>
				  <li role="presentation"><a href="koszyk">{{__ "Koszyk"}}</a></li>
				  <li role="presentation"><a href="rezerwacje">{{__ "Rezerwacje"}}</a></li>
				  <li role="presentation"><a href="login">{{__ "Logowanie"}}</a></li>
				  <li role="presentation"><a href="signup">{{__ "Rejestracja"}}</a></li>
					 {{#if " user.isAdmin == 'T'"}}
				  <li role="presentation"><a href ="admin">{{__ "Panel admina"}}</a></li>
					 {{/if}}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<img style="display: block; width: 100%; margin-top: 20px; height: 400px;" src="http://www.hdwallpapers.in/walls/flight_takeoff-wide.jpg"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
				<br>
				<h4>{{__ "O nas"}}</h4>
				<hr>
				<p>{{__ "Opis aplikacji"}} </p>

		</div>
	</div>
</div>