<div class="container" ng-controller="koszykController" ng-init="init()">
		<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
				  <li role="presentation"><a href="/">{{__ "Start"}}</a></li>
				  <li role="presentation"><a href="wyszukaj">{{__ "Wyszukaj lot"}}</a></li>
				  <li role="presentation" class="active"><a href="koszyk">{{__ "Koszyk"}}</a></li>
				  <li role="presentation"><a href="rezerwacje">{{__ "Rezerwacje"}}</a></li>
				  <li role="presentation"><a href="login">{{__ "Logowanie"}}</a></li>
				  <li role="presentation"><a href="signup">{{__ "Rejestracja"}}</a></li>
				  	 {{#if " user.isAdmin == 'T'"}}
				  <li role="presentation"><a href ="admin">{{__ "Panel admina"}}</a></li>
					 {{/if}}
					</ul>
				</div>
		</div>
		
		<div ng-show="mode=='lista'">

		<div class="row">
			<div class="col-xs-12">
				<table style="width: 100%" class="Tablice">
				<tr class="Naglowki">
					<td>
						{{__ "Miejsce wylotu"}}
					</td>
					<td>
						{{__ "Miejsce przylotu"}}
					</td>
					<td>
						{{__ "Koszt"}}
					</td>
					<td>
						{{__ "Usuń"}}
					</td>
				</tr>
				<tr ng-repeat="row in rows">
					<td>
						{[{row.miejsceWylotu}]}
					</td>
					<td>
						{[{row.miejscePrzylotu}]}
					</td>
					<td>
						{[{row.koszt}]}
					</td>
					<td>
						<span ng-click="usunBilet(row.idBiletu)"><i class="fa fa-times"></i></span>
					</td>
				</tr>	
			</table>

			</br>
			<div>{{__ "Liczba dni:"}}</div>
			<input class="form-control" style="width: 200px" type="number" ng-model="liczbaDni"/>
			</br>
			<button class="btn btn-primary" ng-click="zarezerwuj()">{{__ "Dokonaj rezerwacji"}}</button>

			</div>
		</div>
	</div>


	<div ng-show="mode=='zarezerwowano'">
		<h3>{{__ "Zarezerwowano"}}</h3>
	</div>

</div>
