<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/node_modules/angular-datepicker/dist/index.css' />
    <link rel='stylesheet' href='/node_modules/angularjs-slider/dist/rzslider.css' />
    <link rel='stylesheet' href='/node_modules/font-awesome/css/font-awesome.css' />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/node_modules/jquery/dist/jquery.js'></script>
    <script src='/node_modules/bootstrap/dist/js/bootstrap.js'></script>
    <script src='/node_modules/angular/angular.js'></script>
    <script src='/node_modules/angular-strap/dist/angular-strap.js'></script>
    <script src='/node_modules/angular-strap/dist/angular-strap.tpl.js'></script>
    <script src='/node_modules/moment/min/moment.min.js'></script>
    <script src='/node_modules/angular-datepicker/dist/index.js'></script>
    <script src='/node_modules/angular-animate/angular-animate.js'></script>
    <script src='/node_modules/angular-aria/angular-aria.js'></script>
    <script src='/node_modules/angularjs-slider/dist/rzslider.js'></script>
    <script src='/node_modules/underscore/underscore.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src='/javascripts/mainController.js'></script>
    <script src='/javascripts/wyszukajController.js'></script>
    <script src='/javascripts/koszykController.js'></script>
    <script src='/javascripts/rezerwacjaController.js'></script>
  </head>
  <body ng-app="myApp" ng-controller="mainController">
    {{{body}}}
  </body>
</html>
