<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Logowanie</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:50px; word-wrap:break-word; }
    </style>
</head>
<body>

<div class="container"">
        <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="/"><%= __("Start") %></a></li>
                      <li role="presentation"><a href="wyszukaj"><%= __("Wyszukaj lot") %></a></li>
                      <li role="presentation"><a href="koszyk"><%= __("Koszyk") %></a></li>
                      <li role="presentation"><a href="rezerwacje"><%= __("Rezerwacje") %></a></li>
                      <li role="presentation" class="active"><a href="login"><%= __("Logowanie") %></a></li>
                      <li role="presentation"><a href="signup"><%= __("Rejestracja") %></a></li>
                    </ul>
                </div>
        </div>
</div>

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> <%= __("Logowanie") %></h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label><%= __("Nazwa użytkownika") %></label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label><%= __("Hasło") %></label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label><%= __("Zapamiętaj mnie") %></label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="btn btn-primary btn-lg"><%= __("Zaloguj") %></button>
            </form>

            <hr>

            <p><%= __("Nie masz konta?") %><a href="/signup"> <%= __("Zarejestruj się") %></a></p>
            <p><%= __("Lub wróć do") %> <a href="/"><%= __("strony głównej") %></a>.</p>
        </div>
    </div>
</body>
</html>