<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Profil</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:50px; word-wrap:break-word; }
	</style>
</head>
<body>

<div class="container"">
        <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="/">Start</a></li>
                      <li role="presentation"><a href="wyszukaj">Wyszukaj lot</a></li>
                      <li role="presentation"><a href="koszyk">Koszyk</a></li>
                      <li role="presentation"><a href="rezerwacje">Rezerwacje</a></li>
                      <li role="presentation"><a href="login">Logowanie</a></li>
                      <li role="presentation"><a href="signup">Rejestracja</a></li>
                     {{#if " user.isAdmin == 'T'"}}
				  <li role="presentation"><a href ="admin">Panel admina</a></li>
					 {{/if}}
                    </ul>
                </div>
        </div>
</div>


<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profil użytkownika</h1>
		<a href="/logout" class="btn btn-default btn-sm">Wyloguj</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>Login</strong>: <%= user.username %><br>
						<strong>Hasło</strong>: <%= user.password %>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>