<div class="container" ng-controller="rezerwacjaController" ng-init="init()">
		<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
					  <li role="presentation"><a href="/">{{__ "Start"}}</a></li>
					  <li role="presentation"><a href="wyszukaj">{{__ "Wyszukaj lot"}}</a></li>
					  <li role="presentation"><a href="koszyk">{{__ "Koszyk"}}</a></li>
					  <li role="presentation" class="active"><a href="rezerwacje">{{__ "Rezerwacje"}}</a></li>
					  <li role="presentation"><a href="login">{{__ "Logowanie"}}</a></li>
					  <li role="presentation"><a href="signup">{{__ "Rejestracja"}}</a></li>
					 {{#if " user.isAdmin == 'T'"}}
				  <li role="presentation"><a href ="admin">{{__ "Panel admina"}}</a></li>
					 {{/if}}
					</ul>
				</div>
		</div>
		
		<div ng-show="mode=='lista'">

		<div class="row">
			<div class="col-xs-12">


				<div ng-repeat="rezerwacja in rezerwacje">
					<h3>{{__ "Rezerwacja nr"}} {[{rezerwacja[0].idRezerwacji}]} - {[{dajRezerwacje(rezerwacja[0].dataRezerwacji)}]} - {{__ "liczba dni pozostałych"}} {[{rezerwacja[0].liczbaDni}]}
						<span ng-click="edytujRezerwacje(rezerwacja[0].idRezerwacji, rezerwacja[0].liczbaDni)"><i class="fa fa-pencil"></i></span>
						<span ng-click="usunRezerwacje(rezerwacja[0].idRezerwacji)"><i class="fa fa-times"></i></span> 
					</h3>

					<table style="width: 100%" class="Tablice">
						<tr class="Naglowki">
							<td>
								{{__ "Miejsce wylotu"}}
							</td>
							<td>
								{{__ "Miejsce przylotu"}}
							</td>
							<td>
								{{__ "Koszt"}}
							</td>
							<td>
								{{__ "Usuń"}}
							</td>
							<td>
									<button class="btn btn-primary" ng-click="zaplac()">{{__ "Zapłać"}}</button>
									</td>
						</tr>
						<tr ng-repeat="rez in rezerwacja">
							<td>
								{[{rez.miejsceWylotu}]}
							</td>
							<td>
								{[{rez.miejscePrzylotu}]}
							</td>
							<td>
								{[{rez.koszt}]}
							</td>
							<td>
								<span ng-click="usunBiletZRezerwacji(rezerwacja[0].idRezerwacji, rez.idBiletu)"><i class="fa fa-times"></i></span>
							</td>
						</tr>	
					</table>

				</div>


			</br>

			</div>
		</div>
	</div>


	<div ng-show="mode=='edycja'">
		<h3>{{__ "EDYCJA"}}</h3>
		<div>
			Liczba dni: <input class="form-control" style="width: 200px" type="number" ng-model="liczbaDni"/>
		</div>
		<button class="btn btn-primary" ng-click="mode='lista';">{{__ "Wróć"}}</button>
		<button class="btn btn-primary" ng-click="zmienLiczbeDni()">{{__ "Zapisz"}}</button>
	</div>

<div ng-show="mode=='zaplac'">
		<h3>{{__ "Zapłacono"}}</h3>
</div>


</div>

