<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Rejestracja</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:50px; }
	</style>
</head>
<body>

<div class="container"">
        <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="/"><%= __("Start") %></a></li>
                      <li role="presentation"><a href="wyszukaj"><%= __("Wyszukaj lot") %></a></li>
                      <li role="presentation"><a href="koszyk"><%= __("Koszyk") %></a></li>
                      <li role="presentation"><a href="rezerwacje"><%= __("Rezerwacje") %></a></li>
                      <li role="presentation"><a href="login"><%= __("Logowanie") %></a></li>
                      <li role="presentation" class="active"><a href="signup"><%= __("Rejestracja") %></a></li>
                    </ul>
                </div>
        </div>
</div>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> <%= __("Rejestracja") %></h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label><%= __("Login") %></label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label><%= __("Hasło") %></label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-primary btn-lg"><%= __("Zarejestruj") %></button>
	</form>

	<hr>

	<p><%= __("Masz już konto?") %><a href="/login"><%= __("Zaloguj") %></a></p>
	<p><%= __("Lub wróć do") %><a href="/"><%= __("strony głównej") %></a>.</p>

</div>

</div>
</body>
</html>