<div class="container" ng-controller="wyszukajController" ng-init="init()">
	<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
				  <li role="presentation"><a href="/">{{__ "Start"}}</a></li>
				  <li role="presentation" class="active"><a href="wyszukaj">{{__ "Wyszukaj lot"}}</a></li>
				  <li role="presentation"><a href="koszyk">{{__ "Koszyk"}}</a></li>
				  <li role="presentation"><a href="rezerwacje">{{__ "Rezerwacje"}}</a></li>
				  <li role="presentation"><a href="login">{{__ "Logowanie"}}</a></li>
				  <li role="presentation"><a href="signup">{{__ "Rejestracja"}}</a></li>
					 {{#if " user.isAdmin == 'T'"}}
				  <li role="presentation"><a href ="admin">{{__ "Panel admina"}}</a></li>
					 {{/if}}
				</ul>
			</div>
	</div>
	<div class="row" ng-show="mode=='wyszukaj'">
		<div class="col-xs-12">
				<br>
				<h4>{{__ Wyszukaj}}</h4>
				<label>{{__ "Miejsce wylotu"}}</label>
				<select class="form-control wyszukajInputy" ng-model="wybrane.miejsceWylotu" ng-options='miejsceWylotu as miejsceWylotu for miejsceWylotu in miejscaWylotu'>
			    </select>
			    </br>
			    <label>{{__ "Miejsce przylotu"}}</label>
				<select class="form-control wyszukajInputy" ng-model="wybrane.miejscePrzylotu" ng-options='miejscePrzylotu as miejscePrzylotu for miejscePrzylotu in miejscaPrzylotu'>
			    </select>
			    </br>
			    <label>{{__ "Data wylotu"}}</label></br>
			    <md-datepicker ng-model="dataWylotu" md-placeholder="Wybierz datę"></md-datepicker>
			    </br>
			    <md-button ng-click="wyszukaj()">{{__ "Wyszukaj"}}</md-button>
		</div>
	</div>
	<div ng-show="mode=='lista'">
		<table style="width: 100%" class = "Tablice">
			<tr class = "Naglowki">
				<td>
					{{__ "Miejsce wylotu"}}
				</td>
				<td>
					{{__ "Miejsce przylotu"}}
				</td>
				<td>
					{{__ "Godzina wylotu"}}
				</td>
				<td>
					{{__ "Godzina przylotu"}}
				</td>
				<td>
					{{__ "Cena"}}
				</td>
				<td>
					{{__ "Akcja"}}
				</td>
			</tr>
			<tr ng-repeat="lot in loty">
				<td>
					{[{lot.miejsceWylotu}]}
				</td>
				<td>
					{[{lot.miejscePrzylotu}]}
				</td>
				<td>
					{[{lot.godzinaWylotu}]}
				</td>
				<td>
					{[{lot.godzinaPrzylotu}]}
				</td>
				<td>
					{[{lot.cena}]}
				</td>
				<td>
					<button class="btn btn-primary" ng-click="wyswietl(lot)">Wyswietl</button>
				</td>
			</tr>
		</table>
	</div>

	<div ng-show="mode=='wyswietl'">
		<h4>{{__ "Lot do"}} {[{wybranyLot.miejscePrzylotu}]}ia</h4>
		<div>{{__ "Miejsce wylotu"}}: {[{wybranyLot.miejsceWylotu}]}</div>
		<div>{{__ "Miejsce przylotu"}}: {[{wybranyLot.miejscePrzylotu}]}</div>
		<div>{{__ "Data wylotu"}}: {[{wybranyLot.dataWylotu}]}</div>
		<div>{{__ "Godzina wylotu"}}: {[{wybranyLot.godzinaWylotu}]}</div>
		<div>{{__ "Godzina przylotu"}}: {[{wybranyLot.godzinaPrzylotu}]}</div>
		<div>
			<div>{{__ "Liczba biletow"}}:</div>
		    <input class="form-control" style="width:70px" type="number" ng-model="liczbaBiletow" min="1" max="10"/>
		</div>

		<div>{{__ "Opis"}}</div>
		{{__ "Lorem ipsum"}}

		</br>
		<button class="btn btn-primary" ng-click="dodajDoKoszyka()">{{__ "Dodaj do koszyka"}}</button>

	</div>

	<div ng-show="mode=='poDodaniu'">
		<h3>{{__ "Bilet został dodany"}}</h3>
	</div>

</div>
