body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wyszukajInputy {
	width: 300px;
}

.Tablice {
    border-collapse: collapse;
    width: 100%;
}
.Tablice td
{
    text-align: left;
    padding: 8px;
}

.Naglowki
{
	background-color: #4CAF50;
    color: white;
}

.formularz{
  padding: 15px;

}

.przycisk
{
 margin:10px;
}